html {
    scroll-behavior: smooth;
}

:root {
    --principal: #36B7B2;
    --secundaria: #F29F05;
    --terciaria: #2A4B8D;
    --principal-light: #e6f0ff;
    --text-dark: #1F2A38;
    --text-light: #495057;
    --bg-light: #f0f4f8;
}

.cor-p {
    color: var(--principal);
}
.cor-s {
    color: var(--secundaria);
}
.cor-t {
    color: var(--terciaria);
}

.cor-txt {
    color: var(--text-dark);
}

.bg-p {
    background-color: var(--principal);
}
.bg-s {
    background-color: var(--secundaria);
}
.bg-t {
    background-color: var(--terciaria);
}
.bg-l {
    background-color: var(--bg-light);
}



.hero-section {
    padding: 100px 0;
    background-color: var(--bg-light);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.nav-link:hover {
    color: var(--principal) !important;
}

.btn-principal {
    background-color: var(--principal);
    border-color: var(--principal);
    color: #e6f0ff;
}


.btn-principal:hover {
    background-color: #62e0dc;
    border-color: #62e0dc;
    color: #1F2A38;
}


.accordion-button:not(.collapsed) {
    color: var(--principal);
    background-color: var(--bg-light);
}

textarea {
    resize: none;
}

.logo-footer {
    height: 50px;
}

.foto-carla {
    border-radius: 150px 05px 150px 150px;
    height: 300px;
}

.spc {
    margin-top: 150px;
}


.btn-icon:hover  {
    color: var(--secundaria);
    transition: 0.2s ease-in;
}

.link-f:hover {
    color: var(--secundaria);
}



@media (max-width: 768px) {
    .hero-section {
        padding: 60px 0;
    }
    
}