.hero {
    background-image:  linear-gradient(rgba(242, 159, 5, 0.637), #2a4b8d), url(../../public/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position:unset;
    background-size: cover;
    height: 100vh;
}

.txt-sh {
    text-shadow: 0px 0px 13px #000000e5;
}

.hero-title {
    font-size: 40px;
}

.hero-txt {
    font-size: 25px;
}

.proposito {
    font-size: 60px;
}